<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.min.css">
    <title>YelpCamp</title>
</head>
<body class="d-flex flex-column vh-100">
<%- include('../partials/navbar')%>
<main class="container mt-5">
  <%- body %>
</main>
<%- include('../partials/footer')%>

<script src="bootstrap.min.js"></script>
</body>
</html>